<div class="repo">
					  <div class="icon">
							<span class="octicon octicon-repo"></span>
					</div>
					<div class="details">
						<div class="name">{{name}}</div>
						<div class="desc">{{description}}</div>
					</div>
					<div class="stars">
						<span class="stars-count">{{stargazers_count}}</span>
						<span class="octicon octicon-star"></span>
					</div>
				</div>